{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="keywords" content="consult counsel guidance teaching advice Artist dancer musician teacher professional doctor writter sketch artist healthworker counselling best in india consulting session video lecture video session">
    <meta name="description" content="consult and counsel bring you the best consulting and counselling services in the field of Dance,Music,Art,Paint,Sketch,Education,Teaching,Health,Corporate,Writtings and many more">
    <meta name="description" content="We bring you the best consulting and counselling services irrespective of field with the help of renowned professionals in that particular concerned area">
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/jquery.timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/jquery.timepicker.css" />
    <script type="text/javascript" src="http://127.0.0.1:8000/static/documentation-assets/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/documentation-assets/bootstrap-datepicker.css" />
    <script type="text/javascript" src="http://127.0.0.1:8000/static/documentation-assets/site.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/documentation-assets/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Consult&Counsel</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 logo-space">
                <a href="/"><img src="{% static 'pp.jpeg'%}" alt="Avatar" class="logo"></a>
            </div>
        </div>
    </div><br>
    <div class="point">
    <div class="row">
        <div class="col-sm-4">
        <label id="l1">Choose your Role: </label>
        <select id="language" onChange="update()"  class="form-select">
            <option value="Nothing" id="nothing">Select role</option>
            <option value="Mentor" id="Mentor">Mentor</option>
            <option value="Mentee" id="Mentee">Mentee</option>
        </select>
        <br>
        <label> Your current Role: </label>
        <input type="text" id="value" class="form-control">
        <div class="demo" id="watch">
            <h5> Select Date and slot </h5>
                <p id="datepairExample" class="poet">
                            <input type="text" class="date start form-control" id="t1"/>
                            <input type="text" class="time start form-control" id="t2"/> TO
                            <input type="text" class="time end form-control" id="t3"/>
                            <input type="text" class="date end form-control" id="t4"/>
                </p>
        </div>
    </div>
    </div>
        <br>
        <button onClick="up()" class="btn btn-primary" id ="pol">Add more Slot</button>
        <h4 id="sp"> Already selected slots</h4>
        <h4 id="sk"> Available slots</h4>
        <h5 id="b8" hidden></h5>
        <h4 id="sd">Mentee selected time slot</h4>
        <script src="https://jonthornton.github.io/Datepair.js/dist/datepair.js"></script>
        <script src="https://jonthornton.github.io/Datepair.js/dist/jquery.datepair.js"></script><br><br>
        <button onClick="finalcall()" class="btn btn-dark" id="pill">Book slot</button>
        <main class="content" hidden>
            <div class="container p-0">
                <h1 class="h3 mb-3 olign">Messages</h1>
                <h2 class="olign">Welcome to room.Start chatting.</h2>
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-sm-12 col-xl-12">
                        <div class="position-relative">
                            <textarea class="textstyle" id="chat-log" rows="10" cols="140" wrap="hard" readonly style="max-width:100%">{%for i in chatmsg%}{{i.person}} :{{i.content}}.&#13;&#10;{% endfor %}</textarea>
                            <div class="input-group">
                                <input type="text" class="form-control" id="chat-message-input" placeholder="Type your message">
                                <button class="btn btn-primary" id="chat-message-submit"> Send</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main><br>
        {%for i in chatmsg%}<div class="class-1" id="pop" hidden>{{i.content}}</div>{% endfor %}
        <br>
        {{userr|json_script:'name'}}
        {{group|json_script:'group_name'}}
    </div>
    <hr>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container pb-0">
          <!-- Section: Form -->
          <section class="">
            <ul class="messages message-color">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
            <form action="/" method="POST">
              <!--Grid row-->
              {% csrf_token %}
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2" style="color: white;">Sign up for our newsletter
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form5Example29" style="color: white;" class="form-control" /  name ="email" placeholder="Enter your email">
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="www.shiningcat.in">Groupmasti</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script>
        var dd="";
        const grpname=JSON.parse(document.getElementById('group_name').textContent)
        const username=JSON.parse(document.getElementById('name').textContent)
        var ws= new WebSocket('ws://127.0.0.1:8000/wa/sc/'+grpname)
        console.log(grpname)
        ws.onopen = function(){
            console.log('WebSocket connection open....')
        } 
        ws.onmessage = function(event){
            console.log('Message receieved from server...',event.data)
            console.log('type of message receieved from server',typeof(event.data))
            const data= JSON.parse(event.data)
            console.log('Message receieved from server...',data)
            console.log('type of message receieved from server',typeof(data))
            document.querySelector('#chat-log').value +=username+" : "+(data.msg+'\n');
            console.log(data.msg);
            console.log (typeof data.msg) 
            if (data.msg.includes('@')){
                console.log(data.msg+"ok")
                dd=data.msg;
                var val=dd.split("@");
                console.log(val)
                console.log(typeof val)
                var div1 = document.createElement("button");
                var div2 = document.createElement("h2");
                div1.className = "btn btn-success";
                div1.innerHTML = val[0]+"->"+val[1]+"-"+val[2];
                insertAfter(document.getElementById('b8'),div1);
                insertAfter(document.getElementById('b8'),div2);

            }
            else{
                var d=data.msg;
                var llen= d.length;
                var hk= d.split('#');
                var div1 = document.createElement("button");
                var div2 = document.createElement("h3");
                var kk=hk[0].slice(1,hk[0].length)+"->"+hk[1];
                div1.innerHTML = kk;
                div1.className = "btn btn-warning";
                insertAfter(document.getElementById('sd'),div1);
                insertAfter(document.getElementById('sd'),div2);
            }
        }
        ws.onerror = function(event){
            console.log('websocket error occured..',event)
        }
        ws.onclose = function(){
            console.log('websocket closed....')

        }
        document.getElementById('chat-message-submit').onclick=
        function(event){
            const messageinputdom=document.getElementById('chat-message-input')
            const msg=messageinputdom.value
            console.log(msg)
            ws.send(JSON.stringify({'msg':msg}))
            messageinputdom.value=''
        }
        function insertAfter(referenceNode, newNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
          }
		function update() {
			var select = document.getElementById('language');
			var option = select.options[select.selectedIndex];
			document.getElementById('value').value = option.value;
            if (document.getElementById('value').value=="Mentor"){
                document.getElementById('b8').style.display="none";
                document.getElementById('pol').style.display="block";
                document.getElementById('sp').style.display="block";
                document.getElementById('sk').style.display="none";
                document.getElementById('Mentee').setAttribute("disabled", "disabled");
                document.getElementById('nothing').setAttribute("disabled", "disabled");
                document.getElementById('watch').style.display="block";
                document.getElementById('sd').style.display="block";
                var elements = document.getElementsByClassName("class-1");
                var len= elements.length;
                for (var i = 0, len = elements.length; i < len; i++) {
                    if(elements[i].innerHTML.includes('@')){
                        var dd= elements[i].innerHTML;
                        var val=dd.split("@");
                        console.log(val)
                        console.log(typeof val)
                        var div1 = document.createElement("button");
                        var div2 = document.createElement("h2");
                        div1.className = "btn btn-success";
                        div1.innerHTML = val[0]+"->"+val[1]+"-"+val[2];
                        insertAfter(document.getElementById('b8'),div1);
                        insertAfter(document.getElementById('b8'),div2);
                    }
                    else{
                        var d=elements[i].innerHTML;
                        var llen= d.length;
                        var div1 = document.createElement("button");
                        var div2 = document.createElement("h3");
                        var hk= d.split('#');
                        var kk=hk[0].slice(1,hk[0].length)+"->"+hk[1];
                        div1.innerHTML = kk;
                        div1.className = "btn btn-warning";
                        insertAfter(document.getElementById('sd'),div1);
                        insertAfter(document.getElementById('sd'),div2);
                    }
                }
            }
            else if (document.getElementById('value').value=="Mentee"){
                document.getElementById('Mentor').setAttribute("disabled", "disabled");
                document.getElementById('nothing').setAttribute("disabled", "disabled");
                document.getElementById('b8').style.display="block";
                document.getElementById('sp').style.display="none";
                document.getElementById('pol').style.display="none";
                document.getElementById('watch').style.display="none";
                document.getElementById('sk').style.display="block";
                document.getElementById('sd').style.display="block";
                document.getElementById('pill').style.display="block";
                var elements = document.getElementsByClassName("class-1");
                var len= elements.length;
                for (var i = 0, len = elements.length; i < len; i++) {
                    if(elements[i].innerHTML.includes('@')){
                        var dd= elements[i].innerHTML;
                        var val=dd.split("@");
                        console.log(val)
                        console.log(typeof val)
                        var div1 = document.createElement("button");
                        var div2 = document.createElement("input");
                        var div3 = document.createElement("h2");
                        div1.className = "btn btn-success";
                        div2.className = "selcheckbox form-check-input form-group";
                        div1.innerHTML = val[0]+"->"+val[1]+"-"+val[2];
                        div2.setAttribute('type','checkbox');
                        div2.setAttribute('value',div1.innerHTML)
                        insertAfter(document.getElementById('b8'),div2);
                        insertAfter(div2,div1);
                        insertAfter(document.getElementById('b8'),div3);
                    }
                    else{
                        var d=elements[i].innerHTML;
                        var llen= d.length;
                        var div1 = document.createElement("button");
                        var div2 = document.createElement("h3");
                        var hk= d.split('#');
                        var kk=hk[0].slice(1,hk[0].length)+"->"+hk[1];
                        div1.innerHTML = kk;
                        div1.className = "btn btn-warning";
                        insertAfter(document.getElementById('sd'),div1);
                        insertAfter(document.getElementById('sd'),div2);
                    }
                }
            }
            else{
                console.log("select any role");
                document.getElementById('watch').style.display="none";
                document.getElementById('b8').style.display="none";
                document.getElementById('sp').style.display="none";
                document.getElementById('pol').style.display="none";
                document.getElementById('sk').style.display="none";
                document.getElementById('pill').style.display="none";
                document.getElementById('sd').style.display="none";
            }
		}
		update();
        function up(){
            console.log(document.getElementById("t1").value)
            console.log(document.getElementById("t2").value)
            console.log(document.getElementById("t3").value)
            console.log(document.getElementById("t4").value)
            k1= document.getElementById("t1").value
            k2=document.getElementById("t2").value
            k3=document.getElementById("t3").value
            k4=document.getElementById("t4").value
            var finalmsg= k1+"@"+k2+"@"+k3+"@"+k4;
            console.log(finalmsg)
            document.getElementById("t1").value="";
            document.getElementById("t2").value="";
            document.getElementById("t3").value="";
            document.getElementById("t4").value="";
            ws.send(JSON.stringify({'msg':finalmsg})) 

        }
        $('#datepairExample .time').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });
        $('#datepairExample .date').datepicker({
            'format': 'yyyy-m-d',
            'autoclose': true
        });
        $('#datepairExample').datepair();

        function finalcall(){
            var ss=document.getElementsByClassName("selcheckbox form-check-input");
            for (var i =0;i<ss.length;i++){
                if(ss[i].checked==true){
                    console.log(ss[i].value);
                    console.log(ss[i].innerHTML);
                    var tt= ss[i].value.split(';');
                    console.log(tt);
                    console.log(tt[0]);
                    console.log(typeof tt[0]);
                    break;
                }
            }
            console.log(tt[0].slice(0,tt[0].length-4));
            console.log(tt[1])
            msg="i"+tt[0].slice(0,tt[0].length-4)+"#"+tt[1];
            console.log(msg);
            ws.send(JSON.stringify({'msg':msg}))
            messageinputdom.value='';
        }
    </script>
</body>
</html>
