{% extends 'base.html' %}
{% block content %}
{% load static%}
    <div class="container-fluid home-body">
        <div class="row">
            <div class="col-sm-3 align">
                <div class="col-md-12"><img src="{% static 'pic1.jpg'%}" ></div>
                <div class="col-md-12 align"><a href="k/naveen/"><button class="btn btn-dark">Naveen chatroom</button></a></div>
            </div>
            <div class="col-sm-3 align">
                <div class="col-md-12"><img src="{% static 'pic5.jpg'%}" ></div>
                <div class="col-md-12 align"><a href="k/pulastya/"><button class="btn btn-dark">Pulastya chatroom</button></a></div>
            </div>
            <div class="col-sm-3 align">
                <div class="col-md-12"><img src="{% static 'pic6.jpg'%}"></div>
                <div class="col-md-12 align"><a href="k/pulaha/"><button class="btn btn-dark">Pulaha Indian chatroom</button></a></div>
            </div>
            <div class="col-sm-3 align">
                <div class="col-md-12"><img src="{% static 'dating8.jpg'%}"></div>
                <div class="col-md-12 align"><a href="k/common/"><button class="btn btn-dark">Common chatroom</button></a></div>
            </div>
        </div><br>
        <div class="row align">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
                <input type="text" placeholder="Create custom room of your choice" id="imp" name="custom" class="form-control align"><br>
                <input type="submit" class="btn btn-dark" id="ok" value="Create room">
            </div>
        </div>
    <script>
        document.getElementById("ok").onclick = function () {
            const mmsg=document.getElementById('imp').value
            console.log(mmsg)
            location.href = "k/"+mmsg;
        };
    </script>
{%endblock%}
