{% extends 'base.html' %}
{% block content %}
{% load static%}
<main class="content">
    <div class="container p-0">
        <button class"btn btn-dark olign">
            <h2 class="olign colr">Welcome to room.Start chatting.<a href=""><span class="glyphicon glyphicon-refresh"></span></a></h2>
        </button>
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-sm-12 col-xl-12">
                <div class="position-relative">
                    <textarea class="textstyle" id="chat-log" rows="10" cols="140" wrap="hard" readonly style="max-width:100%">{%for i in chatmsg%}{{i.person}} :{{i.content}}.&#13;&#10;{% endfor %}</textarea>
                    <div class="input-group">
                        <input type="text" class="form-control" id="chat-message-input" placeholder="Type your message">
                        <button class="btn btn-primary" id="chat-message-submit"> Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><br>
    {%for i in chatmsg%}<div class="class-1" id="pop" hidden>{{i.content}}</div>{% endfor %}
    <br>
    {{userr|json_script:'name'}}
    {{group|json_script:'group_name'}}
    <script>
        var dd="";
        const grpname=JSON.parse(document.getElementById('group_name').textContent)
        const username=JSON.parse(document.getElementById('name').textContent)
        var ws= new WebSocket('ws://127.0.0.1:8000/wa/sc/'+grpname)
        console.log(grpname)
        ws.onopen = function(){
            console.log('WebSocket connection open....')
        } 
        ws.onmessage = function(event){
            console.log('Message receieved from server...',event)
            console.log('type of message receieved from server',typeof(event.data))
            const data= JSON.parse(event.data)
            console.log('Message receieved from server...',data)
            console.log('type of message receieved from server',typeof(data))
            console.log(data.userr)
            document.querySelector('#chat-log').value +=username+" : "+(data.msg+'\n');
            console.log(data.msg);
            console.log (typeof data.msg) 
        }
        ws.onerror = function(event){
            console.log('websocket error occured..',event)
        }
        ws.onclose = function(){
            console.log('websocket closed....')

        }
        document.getElementById('chat-message-submit').onclick=
        function(event){
            const messageinputdom=document.getElementById('chat-message-input')
            const msg=messageinputdom.value
            console.log(msg)
            ws.send(JSON.stringify({'msg':msg}))
            messageinputdom.value=''
        }

    </script>
{%endblock%}